
body {
    background-color: brown   ;
}
img {
  position: static; 
  height: 100px;  
  width: 100px;
  margin: 10px;
  padding: 44px;
  border-style: dotted solid dotted solid;
  border-width: 2px;
}



#gu {
  position: absolute;
  left : 0px;
  top : 0px;
  background: yellow; 
  z-index: -1;
}

#gr {
  position: fixed;
  bottom: 1px;
  right: 1px;
  background: greenyellow; 
  float: right;

}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid header{
   grid-column-end : span 5 ;   
}

.grid article img {
  position: static; 
  height: auto; 
  width: 50px;
  margin: 5px;
  padding: 5px;
  border-style: dotted solid dotted solid;
  border-width: 2px;
 
}


