:root {
  --invers-background: rgb(7,100,113);
  --invers-text-foreground: rgb(255,255,255);
  --content-background: rgb(240,240,233);
  --btn-important:  rgb(233,93,15);
  --btn-normal: rgb(124,152,119);
}

header {

  background-color: black; 
  color: var(--invers-text-foreground);
}

footer {
  background-color: var(--invers-background);
  color: var(--invers-text-foreground);
  padding-bottom: 1px;
}

header p {
  /* header's indeholdte p elementer uanset at de ikke ligge lige under */

  /* Min header paragraf skal slogan stå med kursiv */
  color: var(--invers-text-foreground);
  font-style: italic;
  font-weight: bold;
}

#slogan {
  font-style: italic;
  font-weight: normal;
}

.myitem {
  border-style: solid;
  border-color: var(--invers-text-foreground);
}


.sidebar {
  background: var(--invers-background);
}

canvas {
  /* Gør at min graf skalere korrekt */
  width: 100%;
  height: auto;
}

.icon {
  width: 64px;
  height: 64px;
}

.main-content {
  background: var(--content-background);
}

.center-ontop {
  position: absolute;
  top: 0;
  
  z-index: 1;
  width: 100%;
}

.under-construction {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.logotekst {
  font-size: 50px;
}

.carousel-item img{

  opacity: 0.9;
  /* width: 100%; */  
  height: 200px;
  object-fit: cover;
  vertical-align: middle;
}

#gr {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 0;
  height: 300px;  
  width: 300px;
  margin: 2px;
  padding: 3px;
  border-style: dotted solid dotted solid;
  border-width: 1px;
  background: greenyellow; 
}


.btn-success , .btn-sucess:hover , btn-success:active {
  background-color: rgb(124,152,119);
  border-color: rgb(124,152,119);  
}

.btn-primary, .btn-primary:hover , btn-primary:active{
  background-color: rgb(249,216,0);
  border-color: rgb(249,216,0);  
}
